@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  
  /* Custom Colors - Primary */
  /* Format: --color-{name} untuk menghasilkan class {name} */
  --color-pr-9: #4F46E5;
  --color-pr-8: #0055B2;
  --color-pr-7: #0062CC;
  --color-pr-6: #006EE5;
  --color-pr-5: #007AFF;
  --color-pr-4: #3395FF;
  --color-pr-3: #5CAAFF;
  --color-pr-2: #B2D7FF;
  --color-pr-1: #D6EAFF;
  --color-pr-0: #E5F2FF;
  
  /* Custom Colors - Secondary */
  --color-sc-9: #7D21AB;
  --color-sc-8: #8C25C1;
  --color-sc-7: #8C25C1;
  --color-sc-6: #A63EDA;
  --color-sc-5: #AF52DE;
  --color-sc-4: #BA69E2;
  --color-sc-3: #C47FE6;
  --color-sc-2: #CD94EB;
  --color-sc-1: #D7A9EF;
  --color-sc-0: #EBD4F7;
  
  /* Custom Colors - Tertiary */
  --color-tr-9: #B26800;
  --color-tr-8: #CC7700;
  --color-tr-7: #E58600;
  --color-tr-6: #FF9500;
  --color-tr-5: #FFAA33;
  --color-tr-4: #FFB54D;
  --color-tr-3: #FFBF66;
  --color-tr-2: #FFCA80;
  --color-tr-1: #FFD599;
  --color-tr-0: #FFEACC;
  
  /* Custom Colors - Neutral */
  --color-nt-9: #000000;
  --color-nt-8: #1A1A1A;
  --color-nt-7: #262626;
  --color-nt-6: #383838;
  --color-nt-5: #666666;
  --color-nt-4: #808080;
  --color-nt-3: #A6A6A6;
  --color-nt-2: #E0E0E0;
  --color-nt-1: #F2F2F2;
  --color-nt-0: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */ /* Commented out to allow Tailwind text colors to work */
  font-family: Inter, Helvetica, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} 

.animate-marquee {
  animation: marquee 15s linear infinite;
}

/* Matiin animasi di layar medium ke atas (tablet & laptop) */
@media (min-width: 768px) {
  .animate-marquee {
    animation: none;
  }
}

/* Fix untuk mencegah getaran header saat scroll */
.sticky-header {
  position: sticky;
  top: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
